<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
    </head>
    <body>
        <div th:fragment="footer" align="right" style="margin-top: 5px; border-top: 2px dashed #D5D2D2;">
            <footer class="main-footer" style=" margin-top: 5px; padding: 1px; ">
                <div class="container"><div class="row">
                        <div class="col-lg-5 col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <img th:src="@{/img/gobierno.png}" style="width:150px; float: left;" ></div>
<!--                                <div class="col-xs-12 text-left">
                                    2018 - Ministerio de Gobierno, Justicia,
                                    <br> Seguridad y Derechos Humanos.        
                                </div>-->
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <img th:src="@{/img/pm.png}" style="width:150px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-7 col-xs-12">
                            <div class="row">
                                
                                <div class="col-xs-12">
                                    2018 © Plataforma digital desarrollada por
                                    
                                </div>
                                <br/>
                                
<!--                                <div class="col-xs-12">
                                    <img th:src="@{/img/subsecretarialegalytecnica.png}" style="width:300px;">
                                </div>-->
                                <div class="col-xs-12"> <br/> <b>Direccion General de Desarrollo de Software</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <div class="control-sidebar-bg"></div>

        </div>


    </body>
</html>