<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>MicroPanic Web</title>
        <!--/*/ <th:block th:include="fragments/menuinc :: head"></th:block> /*/-->

        <style type="text/css">
            div#map{
                width:100%;
                height:350px;
            }
        </style>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDCKTeJ_9s5tOWlBwoYP9VIUzZGT3tSoT8"></script>
        <script type="text/javascript" th:src="@{/js/gmaps.js}"></script>
        <script type="text/javascript" th:src="@{/js/eventosMaps.js}"></script>
        <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
        <script th:inline="javascript">
            $(document).ready(function () {
                // prettyPrint();
                map = new GMaps({
                    div: '#map',
                    lat: -29.4134538,
                    lng: -66.8564579
                });

                map.on('marker_added', function (marker) {
 
                    marker.addListener('click', function () {
                        //console.log(marker.getPosition());
                        map.setZoom(17);
                        var pos = marker.getPosition();
                        map.setCenter(pos.lat(),pos.lng());
                    });
                });
                var urlServer  = /*[[${urlServer}]]*/ '';
                var id = /*[[${persona.id}]]*/ 'default';
 
                var url = urlServer+"api/eventos/username/"+id;
                console.log(url);
                var xhr = $.getJSON(url);

                //xhr.done(printResults);
                xhr.done(loadResults);
            });
        </script>
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper"  th:fragment="menu">
            <!--/*/ <th:block th:include="fragments/menu :: header"></th:block> /*/-->

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1 th:text="*{persona.razonSocial}"></h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
                        <li><a href="#">Personas</a></li>
                        <li class="active">Perfil</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">

                    <div class="row">
                        <div class="col-md-3">

                            <!-- Profile Image -->
                            <div class="box box-primary">
                                <div class="box-body box-profile">
                                    <img class="profile-user-img img-responsive img-circle" 
                                         th:src="@{/img/clientes/} + ${persona.foto}" th:alt="*{persona.razonSocial}">     
                                        <h3 class="profile-username text-center" th:text="*{persona.razonSocial}" >Nombre y Apellido</h3>
                                        <p class="text-muted text-center" th:text="*{persona.dni}">DNI</p>
                                        <p class="text-muted text-center" th:text="*{persona.tel}">telefono</p>
                                        <p class="text-muted text-center" th:text="*{persona.email}">email</p>
                                        <p class="text-muted text-center" th:text="${persona.tipoRiesgo != null} ? 'Riesgo '+${persona.tipoRiesgo.denominacion}">tipoRiesgo</p>
                                        <a th:href="@{/personas/edit/}+ ${persona.id}" class="btn btn-primary btn-block"><b>Datos Personales</b></a>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->

                            <!-- About Me Box -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-9">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#activity" data-toggle="tab">Ultimas Actividades</a></li>
                                    <li><a href="#timeline" data-toggle="tab">Linea de Tiempo</a></li>
                                    <li><a href="#settings" data-toggle="tab">Domicilio</a></li>
                                    <li><a href="#set2" data-toggle="tab">Contactos de Emergencia</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="active tab-pane" id="activity">
                                        <!-- Post -->
                                        <div class="post clearfix">
                                            <div class="user-block">
                                            </div>
                                            <!-- /.user-block -->

                                        </div>
                                        <!-- /.post -->

                                        <!-- Post -->
                                        <div class="post">
                                            <div class="user-block">
                                            </div>
                                            <!-- /.user-block -->
                                            <div class="row margin-bottom">
                                                <!-- /.col -->
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                        <!-- /.post -->
                                    </div>
                                    <!-- /.tab-pane -->
<!--                                    <div class="tab-pane" id="timeline">
                                         The timeline 
                                        <ul class="timeline timeline-inverse">
                                             timeline time label 
                                            <li class="time-label">
                                                <span class="bg-red">
                                                    10 Mayo. 2018
                                                </span>
                                            </li>
                                             /.timeline-label 
                                             timeline item 
                                            <li>
                                                <i class="fa fa-envelope bg-blue"></i>

                                                <div class="timeline-item">
                                                    <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                                                    <h3 class="timeline-header"><a href="#">Envio de evento</h3>
                                                </div>
                                            </li>
                                             END timeline item 
                                             timeline item 
                                            <li>
                                                <i class="fa fa-user bg-aqua"></i>

                                                <div class="timeline-item">
                                                    <span class="time"><i class="fa fa-clock-o"></i> 5 mins Despues</span>

                                                    <h3 class="timeline-header no-border"><a href="#">Se envio a la policia</a>
                                                    </h3>
                                                </div>
                                            </li>
                                             END timeline item 
                                             timeline item 
                                            <li>
                                              
                                                <i class="fa fa-comments bg-yellow"></i>
                                                 
                                            </li>
                                             END timeline item 
                                             timeline time label 

                                             /.timeline-label 
                                             timeline item 

                                             END timeline item 

                                        </ul>
                                    </div>-->
                                    <!-- /.tab-pane -->

                                    <div class="tab-pane" id="settings">
                                        <b>Barrio:</b>  <td th:text="${persona.barrio}"></td>
                                        <br/>
                                        <b>Domicilio:</b>  <td th:text="${persona.domicilio}"></td>
                                         <br/>
                                        <b>Telefono:</b>  <td th:text="${persona.tel}"></td>
                                        
                                         
                                         
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div>
                            <!-- /.nav-tabs-custom -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- DIRECT CHAT -->
                            <!--/.direct-chat -->
                        </div>
                    </div>

                    <div class="row">
                        <!-- Left col -->
                        <div class="col-md-12">
                            <!-- MAPs & BOX PANE -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Eventos del Agente</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body no-padding">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <!--mapa-->
                                            <div class="pad"> 
                                                <!-- Map will be created here -->
                                                <!--                                                <div id="world-map-markers" style="height: 325px;"></div>-->
                                                <div id="map"></div>
                                            </div>
                                        </div>
                                        <!-- /.col -->

                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->

                                    <div class="row" id="datosjson"></div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                         <div class="box">
                        <div class="box-header"> 
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="tabla" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Tipo Evento</th>
                                        <th>Estado</th>
                                        <th>Fecha</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr th:each="evento : ${eventosGps}">
                                        <td th:text="${evento.username}">Denominacion</td>
                                        <td th:text="${evento.tipoEvento}">Denominacion</td>
                                        <td th:text="${evento.estadoEvento}">Denominacion</td>
                                        <td th:text="${#dates.format(evento.fechaOperacion, 'dd/MMM/yyyy HH:mm:ss')}">Denominacion</td>

                                        <td><a th:href="@{'/eventos/'} + ${evento.id}" title='Detalle'>
                                                <i class="fa fa-edit"></i><span class='hidden-sm'> info</span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <div th:replace="fragments/footer :: footer">
            </div>
        </div>

        <!-- ./wrapper -->
    </body>
</html>
